body {
  display: flex;
  background-image: url("virus.jpg");
  font-family: "Roboto", sans-serif;
  padding: 20px;
  justify-content: center;}

.loginPage {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  backdrop-filter: blur(10px);
  /* height: 480px; */
}

.title {
  direction: column;
  letter-spacing: 10px;
  color: white;
  font-size: 70px;
  font-weight: 100;
  font-stretch: 3px;
}

.nicknameInput, 
.submitButton {
    width: 170px;
    height: 50px;
    border-radius: 100px;
}